*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}
html h1{
    font-size: 4rem;
    color: #d55672;
}
html p{
    font-size: 2rem;
    color: #481620;
}
body{
    height: 100%;
}
.header {
        padding-left: .5rem;
        padding-right: 4rem;
        margin: 1rem;
        height: 10rem;
        border: 1px solid #F4989C;
        justify-content: space-around;  
        align-items: center;
        display: flex;
        z-index: 999;
    }

    .topHijo1{
        margin-right: 500px;
        border: 1px solid #F4989C2;
        max-width: 300px;
        margin: 2rem;
        padding: 0.5rem;
        flex: 1;
        height: 80%;
        z-index: 999;
        
    }

    .topHijo1 img{
        width: 45%;
        height: 100%;    }
    .topHijo2{
        border: 1px solid #F4989C;
        margin: 4rem;
        display: flex;
        flex: 1;
        width: 70rem;
        height: 63%;
        align-items: center;
        justify-content: space-around;
        font-size: 1.4rem;   
        color: #481620;
    }
        .mainContainer{
            margin: 1rem;
            height: 706px;
        }
    .mainContainerLeft{
        margin: 0.5rem;
        width: 38%;
        border: 1px solid #d55672;
        margin-right: 1rem;
        float: left;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .mainContainerLeft h1{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 5rem;
    }
    .mainContainerLeft p{
    margin-top: 5rem;
    padding: 5rem;
    text-align: justify;
    color: #481620;
    }
    .mainContainerRight{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
        float: right;
        height: 100%;
        max-height: 706px;
    }
    
    .mainContainerRight img{
        width: calc(23% - 5px);
        max-height: 229px;
        margin: 0.5rem;
        overflow: hidden;
       
    }
    footer{ 
        margin-top: 5rem;
}
    .bottom{
        border: 1px solid #d55672;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10rem;
        color: #F4989C;
    }
   

    /* INICIO DE LA PAGINA 2 */

    body[data-page="index2"] {
        display: flex;
        height: 100vh;
      }
    .leftSide{
        margin: 1rem; 
        border: 5px solid #d55672;
        max-height: 100%;
        min-height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    .horizontal1{
         margin: 2rem;
         height: 20%;
        border: 1px solid #DAC4F7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .horizontal1Left img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        align-content: center;
        justify-content: center;
    }
    .horizontal1Right img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        align-content: center;
        justify-content: center;
    }
    .horizontal2{
        border: 1px solid #DAC4F7;
        margin: 1rem;
        height: 20%;
    }
    .horizontal3{
        height: 20%;
        margin: 1rem;
        border: 1px solid #DAC4F7;
        display: flex;
        justify-content: space-between;
    }
        .horizontal3Left{
            border: 1px solid #F4989C;
            margin: 1rem;
            width: 200px;
            display: flex;
            justify-content: center;  
            align-items: center;
            font-weight: bolder;  
            color: #481620;
        }
        .horizontal3Right{
            margin: 1rem;
            border: 1px solid #F4989C;
            width: 200px;
            display: flex;
            justify-content: flex-end;
            float: right;
            justify-content: center;  
            align-items: center;
            font-weight: bolder; 
            color: #481620;
        }
    
    .horizontal4{
        border: 1px solid #DAC4F7;
        margin: 1rem;
        height: 20%;
    }
    .horizontal5{
        margin: 1rem ;
         height: 20%;
        border: 1px solid #DAC4F7;
        display: flex;
        justify-content: space-between;
    }
    .horizontal5Left{
        margin: 1rem;
        width: 200px;
        display: flex;
        justify-content: flex-start;    
        flex-direction: column;
        background-image: url('/img/wpp.png');
        background-size: cover;
        background-position: center;
        border-radius: 15%;
        align-items: center;
        font-weight: bolder;
        color: #481620;
    }
    .horizontal5Right{
        margin: 1rem;
        width: 200px;
        display: flex;
        justify-content: flex-end;
    }
    .horizontal5Right img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        align-content: center;
        justify-content: center;
        border-radius: 15%;
    }
    .horizontal5Left img{
        max-height: 90%;
        max-width: 90%;
        object-fit: cover;
        align-content: center;
        justify-content: center;
        float: left;
    }
        .rightSide{
         margin: 1rem;
         border: 5px solid #d55672;
        max-height: 100%;
        min-height: 500px;
        width: 50%;
        display: flex;

    }
    .rightSideA{
        margin: 2rem ;
        border: 1px solid #F4989C;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .rightSideA img{
        margin: 1rem ;
        max-height: 95%;
        max-width: 95%;
        object-fit: cover;
        align-content: center;
        justify-content: center;
       
    }
    .rightSideA1{
        height: 33%;
    }
     .rightSideA2{
        height: 33%;
        justify-content: center;
        align-content: center;
    } 
    .rightSideA2 img{
        object-fit: cover;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    .rightSideA3{
        height: 33%;
        color: #481620;

    }
    .rightSideA3 img{
        object-fit: cover;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    .rightSideB{
        margin: 2rem;
        border: 1px solid #d55672;
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .rightSideB p{
        margin: 3rem;
        margin-top: 5rem;
        color: #481620;
    }