*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.header {
        padding-left: .5rem;
        padding-right: 4rem;
        margin: 1rem;
        height: 10rem;
        border: 1px solid;
        justify-content: space-around;  
        align-items: center;
        display: flex;
    }
    .topHijo1{

    }
    .topHijo2{

    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html{
        font-size: 62.5%;
    }
    body{
        height: 100%;
    }
    
    .header {
            padding-left: .5rem;
            padding-right: 4rem;
            margin: 1rem;
            height: 10rem;
            border: 1px solid;
            justify-content: space-around;  
            align-items: center;
            display: flex;
        }
        .topHijo1{
    
        }
        .topHijo2{
    
        }
    
        .mainContainer{
            margin: 1rem;
            height: 706px;
        }
    .mainContainerLeft{
        width: 38%;
        border: 1px solid;
        margin-right: 1rem;
        float: left;
        height: 100%;
    }
    .mainContainerRight{
        border: 1px solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
        float: right;
        height: 100%;
        max-height: 706px;
    }
    
    .mainContainerRight img{
        width: calc(23% - 5px);
        max-height: 235px;
       
    }
    footer{
        margin-top: 5rem;
}
    .bottom{
        border: 1px solid;
        display: flex;
        justify-content: space-around;
    }
   

    /* INICIO DE LA PAGINA 2 */

    body[data-page="index2"] {
        display: flex;
        height: 100vh;
      }
    .leftSide{
        margin: 1rem; 
        border: 5px solid;
        max-height: 100%;
        min-height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    .horizontal1{
         margin: 1rem;
         height: 20%;
        border: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .horizontal2{
        border: 1px solid;
        margin: 1rem;
        height: 20%;
    }
    .horizontal3{
        height: 20%;
        margin: 1rem;
        border: 1px solid;
        display: flex;
        justify-content: space-between;
    }
        .horizontal3Left{
            border: 1px solid;
            margin: 1rem;
            width: 200px;
            display: flex;
            justify-content: flex-start;    
        }
        .horizontal3Right{
            margin: 1rem;
            border: 1px solid;
            width: 200px;
            display: flex;
            justify-content: flex-end;
            float: right;
        }
    
    .horizontal4{
        border: 1px solid;
        margin: 1rem;
        height: 20%;
    }
    .horizontal5{
        margin: 1rem;
         height: 20%;
        border: 1px solid;
        display: flex;
        justify-content: space-between;
    }
    .horizontal5Left{
        border: 1px solid;
        margin: 1rem;
        width: 200px;
        display: flex;
        justify-content: flex-start;    
    }
    .horizontal5Right{
        margin: 1rem;
        border: 1px solid;
        width: 200px;
        display: flex;
        justify-content: flex-end;
        float: right;
    }
        .rightSide{
         margin: 1rem;
         border: 5px solid;
        max-height: 100%;
        min-height: 500px;
        width: 50%;

    }